/config.mak
/sources/
/output/
/dist/
/log/
/tools/
/build/
/binutils-*/
/gcc-*/
/musl-*/
/gmp-*/
/mpc-*/
/mpfr-*/
/build-*/
/linux-*/
/isl-*/
/build/

# am
*.orig
*.out
*.swp
*.vim
gcc-9.3.0-aarch64-linux-musl.tar.xz
gcc-manifest.txt
/dk/pp/
/dk/rootfs/home/skarnet/skalibs-*/
